.container {
  max-width: 1200px;
  margin: 5px;
  padding: 15px 10px 5px;
  background-color: lightgrey;
}


.input-search {
  border-radius: 10px;
}

a {
  text-decoration: none;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
}

a:hover {
  color: green;
}
